{% macro renderSkill( skill, type ) %}
{% if skill %}
  {% set today = 2021 %}
<div class="col skill" data-tags="{{ skill.title.concat( " " + skill.details + " " + type) | tags }}">
  <div class="card {{ type }}">
    <small class="card-header">{{ type | title }}</small>
    <div class="card-body">
      {% if skill.title %}<h5 class="card-title">{{ skill.title }}</h5>{% endif %}
      {% if skill.details %}<small class="card-subtitle text-muted">{{ skill.details }}</small>{% endif %}

      {% if skill.progress %}
        {% set percentage = skill.progress.complete %}
        {% set label = skill.progress.label %}
        {% if skill.progress.begin %}
            {% set percentage     = (( skill.progress.end - skill.progress.begin ) / ( today - skill.progress.begin ) )* 100 %}
            {% set label          = skill.progress.begin + " - " + skill.progress.end %}
        {% endif %}
      <div class="progress mt-3">
        <div class="progress-bar progress-bar-striped"
            role="progressbar"
            style="width:{{ percentage }}%"
            aria-valuenow="{{ percentage }}">
            {{ label }}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
