{% extends "layout.njk" %}
{% import 'partials/_skill.njk' as skillPartial %}

{% block content %}
  {% for type, skills in skills | groupby( "type" ) %}
    {% for skill in skills %}
      {{ skillPartial.renderSkill( skill, type ) }}
    {% endfor %}
  {% endfor %}
{% endblock %}
