{% extends "layout.njk" %}
{% import 'partials/_skill.njk' as skillPartial %}

{% block content %}
<h1 class="title">{{ name }} <small class="text-muted">( {{ born }} )</small></h1>
<p class="text">{{ details }}</p>
<div class="input-group mb-3">
  <span class="input-group-text" id="skill-filter">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </span>
  <input type="text" class="form-control" placeholder="Digite uma palavra chave para filtar" aria-label="Filtro de habilidades" aria-describedby="skill-filter">
</div>
<div class="row row-cols-1 row-cols-lg-3 g-3">
  {% for type, skills in skills | groupby( "type" ) %}
    {% for skill in skills %}
      {{ skillPartial.renderSkill( skill, type ) }}
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
